<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <center>
        <form action="../Controller/C_PhongBan.php" method="POST">
            <table>
                <tr>
                    <td>ID Phòng ban: </td>
                    <td><input type="text" name="IDPB" value="<?php echo $PBdetails[0] ?>" readonly></td>
                </tr>
                <tr>
                    <td>Tên phòng ban: </td>
                    <td><input type="text" name="TenPB" value="<?php echo $PBdetails[1] ?>"></td>
                </tr>
                <tr>
                    <td>Mô tả: </td>
                    <td><input type="text" name="MotaPB" value="<?php echo $PBdetails[2] ?>"></td>
                </tr>
            </table>
            <input type="submit" name="capnhatpb" value="Cập nhật">
        </form>
    </center>
</body>

</html>